
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Optimize an advertisement campaign</h1>
    <br/>  
    <form id="advertisemntForm" class="form form-register" method="POST" action="" role="form">
           {{ form.csrf_token }}
            <h4>Basic information</h4>
            <div class="form-group">
               {{form.name.label}}
               {{form.name(placeholder="E.g. Black friday", class_="form-control")}}
            </div>
            <div class="form-group">
               {{form.earliest_start.label}}
               {{form.earliest_start(placeholder="19/03/2018", class_="form-control")}}
            </div>

            <div class="form-group">
               {{form.latest_end.label}}
               {{form.latest_end(placeholder="25/03/2018", class_="form-control")}}
            </div>
            <div class="form-group">
                {{form.budget.label}} (in EUR)
                {{form.budget(placeholder="100", class_="form-control")}}
            </div>
            
            <h4>Your target group</h4>
            <h5>(demographic optimization only available in the pro version :-)</h5>
            <div class="form-group">
                {{form.age_range_low.label}}
                {{form.age_range_low(placeholder="18", class_="form-control", disabled=true)}}
            </div>
            
            <div class="form-group">
                {{form.age_range_up.label}}
                {{form.age_range_up(placeholder="99", class_="form-control", disabled=true)}}
            </div>
            
            <div class="form-group">
                {{form.gender.label}}
                {{form.gender(disabled=true)}}
            </div>
        
            <p><input class="btn btn-primary" type="submit" value="Let's optimize!"></p>
    </form>
</div>
{% endblock %}

