
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Your advertisements</h1>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Created at</th>
              <th scope="col">Campaign name</th>
              <th scope="col">Earliest Start</th>
              <th scope="col">Latest end</th>
              <th scope="col">Budget</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          
          <tbody>
            {% for ad in current_user.advertisemnts %}
              <tr>
                <td>{{ad.created_at.strftime('%Y-%m-%d')}}</td>
                <td>{{ad.name}}</td>
                <td>{{ad.earliest_start}}</td>
                <td>{{ad.latest_end}}</td>
                <td> <h5>{{ad.budget}}€</h5></td>
                <td>
                  <a class="btn btn-primary btn-sm" href="{{ url_for('advertisement.view', ad_id=ad.id) }}" role="button">
                    <i class="fa fa-eye"></i>View
                  </a>
                  <a class="btn btn-primary btn-sm" href="{{ url_for('advertisement.optimize', ad_id=ad.id) }}" role="button">
                    <i class="fa fa-line-chart"></i>
                    Optimize
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{ url_for('advertisement.create')}}" role="button">
          <i class="fa fa-plus-circle"></i>
          New Advertisement
        </a>
    </div>
{% endblock %}

