
{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
  integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
  crossorigin=""/>
  
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />

<div class="container">
  <h1 class="mt-5">Advertisement optimization</h1>
  <br/>
  <div class="row">
    <div class="col-sm">
      <h5> Selected Locations</h5>
      <div id="mapid"></div>
    </div>
    <div class="col col-lg-5">
      <h5> Selected outdoors the previous week</h5>
      <div id="graphdiv"></div>
    </div>
  </div>
  <div class="row">
    <h3 class="mt-5"> Your advertisement breakdown</h3>
    <div class="table-responsive">
      <table class="table">
        <tbody>
          {% for key, value in date_results_dict.items() %}
          <tr>
            <td scope="row"> {{key}} </td>
            <td> 
              
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Location</th>
                    <th scope="col">Time</th>
                    <th scope="col">People flow</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ad in value %}
                  <tr>
                      <td>{{ad['name']}}</td>
                      <td>{{ad['time']}}</td>
                      <td>{{ad['footfall_count']}}</td>
                      <td>{{ad['price']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          <tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
    var mymap = L.map('mapid').setView([60.1672247, 24.9399874], 11);
    L.tileLayer(
      'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoic21haXNpZG9ybyIsImEiOiJjajhvdGhvaXUwN2h4MndyczAzczFxZXZvIn0.wnkeyFU8IGuG6ANNj_Abig', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);
    

    {% for datapoint in datapoints %}
       var opacity = {{ 1 if datapoint.name in selected_points else 0.3}}
       var marker = L.marker(
          [
            {{datapoint.latitude}}, 
            {{datapoint.longitude}}],
            {'opacity': opacity}
        ).addTo(mymap);
        
       marker.bindPopup("{{datapoint.name}}")
    {% endfor %}
</script>


<script type="text/javascript">
  
  var data = ""
   {% for x in export_data %}
   data = data + "{{x}}\n"
   {% endfor %}
  
   new Dygraph(
         document.getElementById("graphdiv"),
         data,
         { 
           xAxisLabelWidth: 80,
           axisLabelFontSize: 12,
           xValueFormatter: Dygraph.dateString_,
            xValueParser: function(x) { 
                var d = new Date(x)
                return d.getTime();
            },
        }
       );
</script>


{% endblock %}


