
{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Your advertisemnt {{advertisemnt.name}}</h1>
        <table>
          
        </table>
    </div>
{% endblock %}

