
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">This is a Junction Hackathon 2018 project by team Alakantti!</p>
    </div>
</div>
{% endblock %}

