
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
    
      <h1 class="display-3">Welcome to Alakantti</h1>
    
      <p>A platform for outdoor advertisement bidding and optimization.</p>
    </div>
</div><!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-code"></i> Optimized advertising</h2>
      <p>Pay for those outdoor ads that matter according to footfall traffic in the area.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-flask"></i> Accurate estimations</h2>
      <p>The optimization is based on accurate forecasts of hourly footfall traffic. Accurate forecasts ensure successful ad campaigns on budget.</p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Measure results</h2>
      <p>Track the performance of your historical advertisement plans.</p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

